body {
 background: black;
 font-family: "Courier New", Courier, monospace;
 font-size: 14px;
}

#terminal, #xterm {
 color: #839496;
}

#xterm {
 display: inline;
}

#sh {
 display: inline;
 color: #00AAAA;                                                                                                                                                                              
}                                                                                                                                                                                                    
                                                                                                                                                                                                     
input {                                                                                                                                                                                              
 border: 0px solid;                                                                                                                                                                           
 background: black;                                                                                                                                                                           
 color: #839496;                                                                                                                                                                              
 width: 70%;                                                                                                                                                                                  
 font-family: "Courier New", Courier, monospace;                                                                                                                                              
 font-size: 14px;                                                                                                                                                                             
 padding:0px 0px;                                                                                                                                                                             
}                                                                                                                                                                                                    
                                                                                                                                                                                                     
input:focus{                                                                                                                                                                                         
 outline: 0;                                                                                                                                                                                  
}                                                                                                                                                                                                    
                                                                                                                                                                                                     
pre {
 color: #36ca35;
}


