<header>
<div id='banner'>
  _           ___      _ _____      
 | |__   ___ / _ \  __| |___ / _ __ 
 | '_ \ / __| | | |/ _` | |_ \| '__|
 | | | | (__| |_| | (_| |___) | |   
 |_| |_|\___|\___/ \__,_|____/|_|   

</div>
<div id='description'>
Just another useless web</div>
<hr class='divisao'>
<nav id='menu'>
 <ul>
  ~ <li><a href='{{ site.url }}'>home</a><li>
  ~ <li><a href='{{ "/blog/" | prepend: site.baseurl }}'>blog</a></li>
  ~ <li><a href='{{ "/projetos/" | prepend: site.baseurl }}'>projetos</a></li>
  ~ <li><a href=''>whoami</a></li>
  ~</ul>
</nav>

<hr class='divisao'>
</header>
